@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500;600&display=swap');

$brown: #DA4E00;
$red: #bd2635;
$yellow: #ee9c03;
$black: #1c1c1c;
$grey: #8A8A8A;
$lightgrey: #BBBBBB;
$transparent-lightgrey: #bbbbbb7c;
$white: white;
$transparent: transparent;
$orange: orange;
$green: rgb(8, 180, 57);
$blue: rgb(0, 145, 255);
$purple: rgb(102, 0, 198);

html,
body {
  font-family: Lexend, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --primary-color: #{$black};
  --secondary-color: #{$brown};
  background-color: $white;
  touch-action: pan-x pan-y;
}

.orange {
  color: $orange;
}
.green {
  color: $green;
}
.blue {
  color: $blue;
}
.purple {
  color: $purple;
}
.red {
  color: $red;
}
.yellow {
  color: $yellow;
}

h3 {
  color: $black;
}

video {
  width: 100% !important;
  height: 100vh !important;;
  object-fit: cover !important;;
}
.overlay-element {
  height: 100vh !important;
}

.modal-bg-white {
  background-color: $white !important;
}
.modal-text {
  color: $white;
}
.modal-text-2 {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.border-primary {
  border: 2px solid var(--primary-color) !important;
}

.btn {
  font-size: 18px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}
.text {
  font-weight: 500;
  font-size: 16px;
}
.dark-text {
  font-weight: 600;
  color: $black
}
.light-text {
  font-weight: 600;
  color: $grey
}
.bold {
  font-weight: 600;
}
.label {
  font-size: 12px;
  color: var(--primary-color);
}
.time {
  font-size: 10px;
}
svg {
  width: 100%;
  height: 100%;
}
