.overlay-element {
  height: 100vh !important;
  background: #ffffff63 !important;
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.btn {
  font-size: 16px;
}
.small-title {
  font-size: 16px;
  font-weight: bold;
}
.subtitle {
  font-size: 14px;
  font-weight: lighter;
}
.title {
  font-size: 24px;
  font-weight: 500;
}
.label {
  font-size: 10px;
  color: grey;
}
.time {
  font-size: 10px;
}
.info {
  font-size: 24px;
  font-weight: 500;
}
svg {
  width: 100%;
  height: 100%;
}
